@use 'variables' as v;
@use 'sass:color';

.header {
  width: 100%;
  height: 50%;
  background-color: color.adjust(v.$color_white, $alpha: -0.85);

  // border-bottom: 1px solid v.$color_white;
  border: {
    bottom: {
      width: 1px;
      style: solid;
      color: v.$color_white;
    }
  }
}
